# Time Series Export Data

This notebook demonstrates downloading time series export data using the `query_filter=` argument
to `ced.download`. This allows us to filter on non-geographic variables, which we sometimes need
to do on timeseries datasets.

This combines the query filter functionality we saw in the
[Query Filters.ipynb](./Query%20Filters.ipynb)
notebook with the timeseries functionality we saw in the
[Time Series School District Poverty.ipynb](./Time%20Series%20School%20District%20Poverty.ipynb)
notebook.

The data set we are using is also somewhat unique in that it does not have a domestic
geography like most of the census data sets.

In [1]:
import censusdis.data as ced
import censusdis.maps as cem
from censusdis.datasets import TIMESERIES_IDB

In [2]:
DATASET = "timeseries/intltrade/exports/hs"
VINTAGE = "timerseries"

In [3]:
# Notice there are no supported geographies. So in our query we
# will just leave geography out.
ced.geographies(dataset=DATASET, vintage="timeseries")

[]

In [4]:
df_variables = ced.variables.all_variables(DATASET, VINTAGE, None)

df_variables

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,timerseries,timeseries/intltrade/exports/hs,N/A,AIR_VAL_MO,15-digit Air Value,NaN,None
1,timerseries,timeseries/intltrade/exports/hs,N/A,AIR_VAL_YR,15-digit Year-to-Date Air Value,NaN,None
2,timerseries,timeseries/intltrade/exports/hs,N/A,AIR_WGT_MO,15-digit Air Shipping Weight,NaN,None
3,timerseries,timeseries/intltrade/exports/hs,N/A,AIR_WGT_YR,15-digit Year-to-Date Air Shipping Weight,NaN,None
4,timerseries,timeseries/intltrade/exports/hs,N/A,ALL_VAL_MO,15-digit Total Value,NaN,None
5,timerseries,timeseries/intltrade/exports/hs,N/A,ALL_VAL_YR,15-digit Year-to-Date Total Value,NaN,None
6,timerseries,timeseries/intltrade/exports/hs,N/A,CC_MO,15-digit Card Count,NaN,None
7,timerseries,timeseries/intltrade/exports/hs,N/A,CC_YR,15-digit Year-to-Date Card Count,NaN,None
8,timerseries,timeseries/intltrade/exports/hs,N/A,CNT_VAL_MO,15-digit Containerized Vessel Value,NaN,None
9,timerseries,timeseries/intltrade/exports/hs,N/A,CNT_VAL_YR,15-digit Year-to-Date Containerized Vessel Value,NaN,None
10,timerseries,timeseries/intltrade/exports/hs,N/A,CNT_WGT_MO,15-digit Containerized Vessel Shipping Weight,NaN,None
11,timerseries,timeseries/intltrade/exports/hs,N/A,CNT_WGT_YR,15-digit Year-to-Date Containerized Vessel Shi...,NaN,None
12,timerseries,timeseries/intltrade/exports/hs,N/A,COMM_LVL,4-character aggregation levels for commodity c...,NaN,None
13,timerseries,timeseries/intltrade/exports/hs,N/A,CTY_CODE,4-character Country Code,NaN,None
14,timerseries,timeseries/intltrade/exports/hs,N/A,CTY_NAME,50-character Country Name,NaN,None
15,timerseries,timeseries/intltrade/exports/hs,N/A,DF,1-character Domestic or Foreign Code,NaN,None
16,timerseries,timeseries/intltrade/exports/hs,N/A,DISTRICT,2-character District Code,NaN,None
17,timerseries,timeseries/intltrade/exports/hs,N/A,DIST_NAME,50-character District name,NaN,None
18,timerseries,timeseries/intltrade/exports/hs,N/A,E_COMMODITY,"2-, 4-, 6-, or 10-character Export Harmonized ...",NaN,None
19,timerseries,timeseries/intltrade/exports/hs,N/A,E_COMMODITY_LDESC,150-character Export Harmonized Code Description,NaN,None
20,timerseries,timeseries/intltrade/exports/hs,N/A,E_COMMODITY_SDESC,50-character Export Harmonized Code Description,NaN,None
21,timerseries,timeseries/intltrade/exports/hs,N/A,LAST_UPDATE,10-character Date of Last Update,NaN,None
22,timerseries,timeseries/intltrade/exports/hs,N/A,MONTH,2-character Month,NaN,None
23,timerseries,timeseries/intltrade/exports/hs,N/A,QTY_1_MO,15-digit Quantity 1,NaN,None
24,timerseries,timeseries/intltrade/exports/hs,N/A,QTY_1_MO_FLAG,1-character True Zero Flag for Quantity 1,NaN,None
25,timerseries,timeseries/intltrade/exports/hs,N/A,QTY_1_YR,15-digit Year-to-Date Quantity 1,NaN,None
26,timerseries,timeseries/intltrade/exports/hs,N/A,QTY_1_YR_FLAG,1-character True Zero Flag for Year-to-Date Qu...,NaN,None
27,timerseries,timeseries/intltrade/exports/hs,N/A,QTY_2_MO,15-digit Quantity 2,NaN,None
28,timerseries,timeseries/intltrade/exports/hs,N/A,QTY_2_MO_FLAG,1-character True Zero Flag for Quantity 2,NaN,None
29,timerseries,timeseries/intltrade/exports/hs,N/A,QTY_2_YR,15-digit Year-to-Date Quantity 2,NaN,None
30,timerseries,timeseries/intltrade/exports/hs,N/A,QTY_2_YR_FLAG,1-character True Zero Flag for Year-to-Date Qu...,NaN,None
31,timerseries,timeseries/intltrade/exports/hs,N/A,SUMMARY_LVL,Detail ('DET') or Country Grouping ('CGP') ind...,NaN,None
32,timerseries,timeseries/intltrade/exports/hs,N/A,SUMMARY_LVL2,Variables being summarized. See the appendix ...,NaN,None
33,timerseries,timeseries/intltrade/exports/hs,N/A,UNIT_QY1,3-character Export Unit of Quantity 1,NaN,None
34,timerseries,timeseries/intltrade/exports/hs,N/A,UNIT_QY2,3-character Export Unit of Quantity 2,NaN,None
35,timerseries,timeseries/intltrade/exports/hs,N/A,VES_VAL_MO,15-digit Vessel Value,NaN,None
36,timerseries,timeseries/intltrade/exports/hs,N/A,VES_VAL_YR,15-digit Year-to-Date Vessel Value,NaN,None
37,timerseries,timeseries/intltrade/exports/hs,N/A,VES_WGT_MO,15-digit Vessel Shipping Weight,NaN,None
38,timerseries,timeseries/intltrade/exports/hs,N/A,VES_WGT_YR,15-digit Year-to-Date Vessel Shipping Weight,NaN,None
39,timerseries,timeseries/intltrade/exports/hs,N/A,YEAR,4-character Year,NaN,None
40,timerseries,timeseries/intltrade/exports/hs,N/A,time,ISO-8601 Date/Time value,NaN,None

In [5]:
variables = ["YEAR", "MONTH", "ALL_VAL_MO", "VES_WGT_MO", "AIR_WGT_MO"]

In [6]:
df_ts_all_levels = ced.download(
    DATASET,
    VINTAGE,
    variables,
    # Normally, there would be some geography here, like `state=`, but this
    # data set has no geographies. It is for the entire country.
    # Filter to the country code and time, but get one row for each
    # commodity HS code by using '*'.
    query_filter={
        "CTY_CODE": "1220",
        "time": "2024-06",
        "E_COMMODITY": "*",
    },
)

In [7]:
df_ts_all_levels

,CTY_CODE,TIME,E_COMMODITY,YEAR,MONTH,ALL_VAL_MO,VES_WGT_MO,AIR_WGT_MO
0,1220,2024-06,392099,2024,06,8188003,0,2362
1,1220,2024-06,3920990000,2024,06,8188003,0,2362
2,1220,2024-06,3921,2024,06,59797550,0,33405
3,1220,2024-06,392111,2024,06,6142876,0,1065
4,1220,2024-06,3921110000,2024,06,6142876,0,1065
...,...,...,...,...,...,...,...,...
13080,1220,2024-06,9870007000,2024,06,0,0,0
13081,1220,2024-06,9880,2024,06,1107323451,0,0
13082,1220,2024-06,988000,2024,06,1107323451,0,0
13083,1220,2024-06,9880002000,2024,06,839021786,0,0
13084,1220,2024-06,9880006000,2024,06,268301665,0,0

In [8]:
df_ts_hs2 = ced.download(
    DATASET,
    VINTAGE,
    variables,
    # This time, we specifiy that we only want aggregated numbers at the HS2
    # level, so there will be a lot fewer rows.
    query_filter={
        "CTY_CODE": "1220",
        "time": "2024-06",
        "E_COMMODITY": "*",
        "COMM_LVL": "HS2",
    },
)

In [9]:
df_ts_hs2

,CTY_CODE,TIME,E_COMMODITY,COMM_LVL,YEAR,MONTH,ALL_VAL_MO,VES_WGT_MO,AIR_WGT_MO
0,1220,2024-06,40,HS2,2024,06,353978320,0,125311
1,1220,2024-06,41,HS2,2024,06,1998631,0,5317
2,1220,2024-06,42,HS2,2024,06,48446692,127,67383
3,1220,2024-06,43,HS2,2024,06,553723,0,490
4,1220,2024-06,44,HS2,2024,06,207095047,60884753,79065
...,...,...,...,...,...,...,...,...,...
92,1220,2024-06,61,HS2,2024,06,82685444,0,70210
93,1220,2024-06,95,HS2,2024,06,218487059,0,151569
94,1220,2024-06,96,HS2,2024,06,107325300,913,50807
95,1220,2024-06,97,HS2,2024,06,10002231,0,6567
96,1220,2024-06,98,HS2,2024,06,1142223921,0,19207